body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2a313c; /* Updated background color */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-container {
    text-align: center;
    background-color: #1f2531; /* Darker shade for contrast */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow for depth */
    width: 300px;
    position: relative;
}

.logo {
    width: 200px; /* Adjust size as needed */
    height: auto;
    max-width: 100%; /* Ensure it scales with the container */
    object-fit: contain; /* Ensure the aspect ratio is maintained */
    margin-bottom: 20px; /* Space between logo and form */
}

#formTitle {
    font-size: 18px; /* Adjust font size as needed */
    margin-bottom: 20px; /* Space between title and form */
    color: #ffffff; /* Ensure text is readable on dark background */
}

#masterPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#masterPassword {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

#submitButton {
    padding: 10px 20px;
    background-color: #3182ce; /* Button color */
    border: none;
    color: #ffffff; /* Button text color */
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#submitButton:hover {
    background-color: #2b6cb0; /* Button hover color */
}
