body {
    font-family: Arial, sans-serif;
    color: #f0f0f0;
}

.container {
    display: flex;
}

main {
    padding: 20px;
    background-color: #2a313c;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.password-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="range"] {
    width: 100%;
}

.password-box {
    background-color: #374151;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

#regenerateIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: #f0f0f0;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


/* Style for the slider */
input[type="range"] {
    width: 100%;
    height: 12px; /* Increased the height of the track */
    background: #cbd5e0;
    border-radius: 6px;
    outline: none;
    opacity: 0.8;
    transition: opacity .2s;
}

/* Style for the slider's track */
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px; /* Increased the height to match */
    background: #cbd5e0;
    border-radius: 50px; /* Keep the oval appearance */
}

/* Style for the slider's thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px; 
    height: 18px; 
    background: #1f2937;
    border-radius: 50%; /* Still a perfect circle */
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

input[type="range"]:hover {
    opacity: 1; /* Increase opacity on hover */
}

/* Firefox style for thumb */
input[type="range"]::-moz-range-thumb {
    width: 18px; 
    height: 18px; 
    background: #1f2937;
    border-radius: 50%; 
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* Style for the slider's track on Firefox */
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 12px; 
    background: #cbd5e0;
    border-radius: 50px; /* Keep the oval appearance */
}
