/* General page styles */
body {
    background-color: #1f2937;  /* Dark background for the body */
    color: white;  /* White text color */
    font-family: 'Arial', sans-serif;  /* Font family */
    margin: 0;  /* Remove default margin */
    display: flex;  /* Use flexbox for layout */
}


/* Main content area */
main {
    flex: 1;  
    display: flex;  /* Enable flexbox for the main content */
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    padding: 40px;  /* Padding around main content */
    margin-left: 300px;
    
}

/* Password Checker container */
.password-checker-container {
    max-width: 500px;  /* Maximum width for the container */
    padding: 40px;  /* Inner padding */
    background-color: #374151;  /* Dark background for the container */
    border-radius: 10px;  /* Rounded corners */
    text-align: center;  /* Center text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Optional: shadow effect */
}

.password-checker-container h1 {
    font-size: 24px;  /* Font size for the title */
    margin-bottom: 20px;  /* Margin below the title */
}

/* Input field */
#passwordInput {
    width: 100%;  /* Full width */
    padding: 12px;  /* Inner padding */
    font-size: 16px;  /* Font size */
    border: none;  /* No border */
    border-radius: 6px;  /* Rounded corners */
    margin-bottom: 20px;  /* Space below input */
    background-color: #cbd5e0;  /* Light background for input */
    color: #1f2937;  /* Dark text for input */
}

/* Check Password Button */
#checkPasswordButton {
    padding: 12px 20px;  /* Button padding */
    background-color: #1f2937;  /* Button background color */
    border: none;  /* No border */
    border-radius: 6px;  /* Rounded corners */
    color: white;  /* White text color */
    font-size: 16px;  /* Font size */
    cursor: pointer;  /* Pointer cursor */
}

#checkPasswordButton:hover {
    background-color: #111827;  /* Darker background on hover */
}

/* Password feedback */
.password-feedback {
    margin-top: 20px;  
    font-size: 18px;  
}

.password-feedback p {
    margin: 0;  
}

.hidden {
    display: none;  
}

/* Password strength bar */
.password-strength-bar {
    width: 100%;  /* Full width for the bar */
    height: 12px;  /* Height of the bar */
    background-color: #cbd5e0;  
    border-radius: 6px;  /* Rounded corners */
    margin-top: 20px;  /* Space above the strength bar */
}

#strengthIndicator {
    height: 100%;  /* Full height for the indicator */
    width: 0;  /* Initial width */
    background-color: #1f2937;  /* Color for strength indicator */
    border-radius: 6px;  /* Rounded corners */
    transition: width 0.3s ease-in-out;  /* Smooth transition for width change */
}
