body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #1f2937;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .logo img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}

.sidebar-section {
    margin: 20px 0;
}

.collapse-btn {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.collapse-btn i {
    margin-right: 10px;
    transition: transform 0.3s;
}

.collapsible {
    list-style: none;
    padding: 0;
    margin: 0;
}

.collapsible li {
    margin: 10px 0;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.collapsible li i {
    margin-right: 10px;
}

.collapsible li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.sidebar .logout button {
    width: 100%;
    padding: 10px;
    background-color: #e53e3e;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.main-content {
    flex-grow: 1;
    background-color: #2a313c;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top-bar h1 {
    margin: 0;
}

#addInfoButton {
    padding: 10px 20px;
    background-color: #3182ce;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.content-area {
    flex-grow: 1;
    background-color: #2a313c;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info-list {
    display: flex;
    flex-direction: column;
}

.info-item {
    padding: 15px;
    background-color: #4a5568;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.info-item h3 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #333;
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Add padding to ensure the modal doesn't hit the screen edges */
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 90%; /* Adjust this to a percentage */
    max-width: 600px; /* Add a max-width for large screens */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

/* Responsive design */
@media screen and (max-width: 600px) {
    .modal-content {
        width: 95%; /* For small screens, make the modal take up most of the screen */
        padding: 15px;
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #e53e3e;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content input, .modal-content textarea {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.modal-content textarea {
    height: 100px;
    resize: none;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    background-color: #3182ce;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #2b6cb0;
}

.require-master-password {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.require-master-password input[type="checkbox"] {
    margin-right: 10px;
}

.require-master-password label {
    font-size: 14px;
    color: #333;
}

/* Custom Fields Styling */
#customFieldsContainer {
    margin-top: 20px;
}

.custom-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.custom-field input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.custom-field .remove-custom-field-button {
    background-color: #e53e3e;
    border: none;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.custom-field .remove-custom-field-button:hover {
    background-color: #c53030;
}

/* Add Custom Field Button */
#addCustomFieldButton {
    width: 100%;
    padding: 10px;
    background-color: #3182ce;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

#addCustomFieldButton:hover {
    background-color: #2b6cb0;
}

.view-info {
    padding: 5px 10px;
    background-color: #3182ce;
    border: none;
    color: #ffffff;
    cursor: pointer;
}


/* Set the max height to 70% and make the content scrollable */
.modal-content {
    max-height: 70%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px; /* Add padding to avoid scrollbar overlap */
}


#notes {
    height: 300px; 
    max-height: 400px; 
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical; 
}
