# Ignore node_modules
node_modules/

# Ignore environment variable files
.env

# Ignore Firebase service account key
/config/pass-solution-firebase-adminsdk-6045q-2f14efa7cb.json

# Other common files and directories to ignore
*.log
dist/
build/
.DS_Store
*.env
.vscode/
.idea/
*.iml
